<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Login Test">
    <test name="Test Login">
        <parameter name="browser" value="chrome"/>
        <classes>
                <class name="com.litigation.tests.LoginPageTest"/>
                <class name="com.litigation.tests.DashboardPageTest"/>
        </classes>
    </test>
</suite>